html {
  min-height: 100vh;
}

body {
  font-family: "Futura-bold";
  height: 100vh;
  width: 100%;
  margin: 0 0;
}

.nav > p {
  font-size: 3rem;
  margin-left: 20px;
  color: black;
}

@font-face {
  font-family: "Ahganirya";
  src: url(/fonts/ahganirya.ttf);
}

@font-face {
  font-family: "Futura-medium";
  src: url(/fonts/futura-medium.ttf);
}

@font-face {
  font-family: "Futura-bold";
  src: url(/fonts/futura-bold.ttf);
}

.nav {
  width: 100%;
  color: black;
  height: 62px;
}

.nav-left {
  position: absolute;
  top: 27px;
  margin-left: 25px;
  font-size: 20px;
  font-family: "Ahganirya", sans-serif;
}

.nav-left:hover {
  color: rgb(38, 54, 178);
}

.nav-right {
  font-size: 15px;
  position: absolute;
  top: 38px;
  right: 50px;
  gap: 76px;
  display: flex;
}

.nav-right > a:hover {
  color: rgb(38, 54, 178);
}

.h-hcm {
  font-weight: 700;
  font-size: 95px;
  line-height: 126px;
  margin: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  height: 622px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  height: 622px;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  counter-increment: item;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#carousel__slide1 {
  background-image: url("/images/hcm/ben-thanh.jpeg");
}

#carousel__slide2 {
  background-image: url("/images/hcm/central-post-office.jpeg");
}

#carousel__slide3 {
  background-image: url("/images/hcm/independence-palace.jpeg");
}

#carousel__slide4 {
  background-image: url("/images/hcm/museum.jpeg");
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transition-duration: 1.5s;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.p-hcm {
  margin: 0 0;
  text-align: center;
  font-size: 17px;
  line-height: 246.2%;
}

h2 {
  font-size: 40px;
  line-height: 171.7%;
  text-align: center;
  margin: 0 0;
}

.detail-info {
  display: flex;
  flex-direction: column;
}

.food {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 80px;
  gap: 77px;
  font-size: 25px;
  line-height: 171.7%;
}

.food-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 41px;
}

.sub-carousel > p {
  margin: 0 0;
  text-align: center;
}

.sub-carousel__viewport {
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 430px;
  height: 430px;
}

.sub-carousel__slide {
  position: relative;
  flex: 0 0 100%;
  counter-increment: item;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#sub-carousel__slide1 {
  background-image: url("/images/hcm/banh-mi-1.jpeg");
}

#sub-carousel__slide2 {
  background-image: url("/images/hcm/banh-mi-2.jpeg");
}

.sub-carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.sub-carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .sub-carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition-duration: 1.5s;
  }

  .sub-carousel__slide:last-child .sub-carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .sub-carousel__snapper {
    animation-name: none;
  }
}

.bun-rieu {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-right: 12px;
  text-align: center;
}

.pho {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  text-align: center;
}

label {
  margin: 0 30px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
}

#toggle {
  display: none;
}

@media screen and (min-device-width: 375px) and (max-device-width: 390px) {
  label {
    display: block;
    cursor: pointer;
    width: 26px;
    float: left;
    margin: 0 0;
    font-size: 40px;
    position: relative;
    top: 28px;
    left: 40px;
    z-index: 10;
    font-weight: 800;
  }

  .nav-left {
    text-align: center;
    width: 100%;
    margin-left: 0;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
  }

  .carousel {
    position: absolute;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    height: 622px;
    left: 0;
    top: 0;
    right: 0;
    z-index: 0;
  }

  .nav-right {
    text-align: center;
    width: 100%;
    display: none;
    clear: right;
  }

  .nav-right a {
    display: block;
    border-radius: 20px;
    margin: 0;
    color: black;
    background-color: white;
    opacity: 90%;
    z-index: 10;
    /* margin-top: 500px; */
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
  }

  #toggle:checked + .nav-right {
    display: block;
  }

  .h-hcm {
    margin-top: 560px;
    font-size: 60px;
  }

  .p-hcm {
    z-index: 10;
    font-size: 10px;
    top: 622px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 50px;
    text-align: center;
    line-height: 130.2%;
  }

  .food {
    flex-direction: column;
    align-items: center;
  }

  br {
    display: none;
  }

  .sub-carousel__viewport {
    width: 600px;
    height: 400px;
  }

  .bun-rieu,
  .pho {
    justify-content: start;
    gap: 30px;
  }
}
