html {
  min-height: 100vh;
}

body {
  font-family: "Futura-bold";
  height: 100vh;
  width: 100%;
  margin: 0 0;
}

@font-face {
  font-family: "Ahganirya";
  src: url(/fonts/ahganirya.ttf);
}

@font-face {
  font-family: "Futura-medium";
  src: url(/fonts/futura-medium.ttf);
}

@font-face {
  font-family: "Futura-bold";
  src: url(/fonts/futura-bold.ttf);
}

#checkbox {
  display: none;
}

.header-hcm {
  color: white;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
}

.header-mel {
  color: black;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h-hcm,
.h-mel {
  position: relative;
  top: 270px;
  font-size: 120px;
  margin: 0 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-hcm,
.p-mel {
  position: relative;
  line-height: 1.5;
  top: 270px;
  padding: 10px 10px;
  margin: 0 auto;
  text-align: center;
  background: rgb(255, 255, 255, 0.01);
  backdrop-filter: blur(25px);
  border-radius: 20px;
  font-family: "Futura-medium";
  width: 650px;
}

.b-hcm,
.b-mel {
  color: white;
  width: 296px;
  height: 75px;
  border-radius: 30px;
  position: absolute;
  top: 600px;
  background: rgba(0, 0, 0, 0.56);
  border: 4px solid rgba(255, 255, 255, 0.2);
  font-weight: 700;
  font-size: 25px;
}

.b-hcm:hover,
.b-mel:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0px;
  cursor: pointer;
}

.hcm-link,
.mel-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 100%;
  color: white;
}

.nav-left {
  position: absolute;
  top: 27px;
  margin-left: 25px;
  font-size: 20px;
  font-family: "Ahganirya", sans-serif;
}

.nav-left:hover {
  color: white;
}

.nav-right {
  font-size: 15px;
  position: absolute;
  top: 38px;
  right: 50px;
  gap: 76px;
  display: flex;
}

.nav-right > a:hover {
  color: white;
}

.background:hover {
  cursor: pointer;
}

.background img {
  width: 100%;
  top: 76px;
  height: auto;
}

.header-mel {
  opacity: 0;
  visibility: hidden;
}

.toggle {
  height: 100vh;
  width: 100%;
  background-image: url("/images/Hcm.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#checkbox:checked + .toggle {
  background-image: url("/images/Melbourne.jpeg");
}

#checkbox:checked + .toggle .header-hcm {
  opacity: 0;
  visibility: hidden;
  top: -100%;
  -webkit-transition: opacity 1000ms, visibility 1000ms;
  transition: opacity 1000ms, visibility 1000ms;
  position: absolute;
}

#checkbox:checked + .toggle .header-mel {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1000ms, visibility 1000ms;
  transition: opacity 1000ms, visibility 1000ms;
  position: absolute;
}

#sub-toggle {
  display: none;
}

@media screen and (min-device-width: 375px) and (max-device-width: 390px) {
  #hamburger {
    display: block;
    cursor: pointer;
    float: left;
    width: 26px;
    margin: 0 0;
    font-size: 50px;
    position: relative;
    top: 20px;
    left: 40px;
    z-index: 10;
    font-weight: 800;
    background-color: black;
    color: #f3f3f3;
    width: 65px;
    height: 65px;
    text-align: center;
    justify-items: center;
    margin: 0 auto;
    padding-bottom: 5px;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .nav {
    position: relative;
    top: 0;
  }

  .nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    margin-left: 0;
    font-size: 25px;
    z-index: 10;
    top: 0;
    color: #f3f3f3;
  }

  .nav-right {
    text-align: center;
    visibility: hidden;
    clear: right;
  }

  .nav-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    background-color: #f3f3f3;
    opacity: 90%;
    z-index: 10;
    position: absolute;
    top: 82px;
    left: 70px;
    width: 230px;
    height: 250px;
    gap: 20px;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 10px;
  }

  .nav-right > a {
    font-size: 30px;
  }

  .toggle {
    width: 100%;
    height: 622px;
    top: 0;
    position: absolute;
  }

  #sub-toggle:checked + .nav-right {
    visibility: visible;
  }

  .header-hcm {
    height: 0px;
  }

  .h-hcm,
  .h-mel {
    top: 120px;
    font-size: 90px;
  }

  .p-hcm,
  .p-mel {
    top: 150px;
  }

  .b-hcm,
  .b-mel {
    top: 450px;
  }

  .aboutus {
    position: absolute;
    top: 650px;
  }

  .h-aboutus {
    font-weight: 700;
    font-size: 95px;
    line-height: 126px;
    margin: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 171.7%;
    margin: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .p-aboutus {
    margin: 20px 80px;
    text-align: center;
    font-size: 25px;
    line-height: 130.7%;
  }

  br {
    display: none;
  }

  .team-member {
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
  }

  .team-member > p {
    margin: 20px 0;
  }

  #aboutus-link {
    display: none;
  }
}

@media screen and (min-device-width: 1024px) {
  .aboutus {
    display: none;
  }
}
